page {
  background-color: white;
  padding: 14px;
  box-sizing: border-box;
  color: #333;
}
$color-brand: #345B8F;
$color-brand-light: #5274A0;
$color-brand-dark: #27497C;
.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper-input {
  border: 1px solid #eff3f6;
  border-radius: 42px;
  height: 84px;
  width: 86%;
  padding: 0;
  margin: 0 auto;
  background-color: rgba(239, 243, 246, 1);
  margin-bottom: 30px;
  padding-left: 10px;
  text-align: center;
  // &:active {
  //   box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(24, 144, 255, 0.2);
  //   border-color: #1890ff;
  // }
}
.wrapper-button {
  border-radius: 42px;
  height: 84px;
  line-height: 84px;
  padding: 0;
  width: 86%;
  margin: 0 auto;
  color: #fff;
  background-color: #1890ff;
  &:active{
    background-color: $color-brand-dark;
  }
}
.logo {
  display: block;
  width: 270px;
  height: 270px;
  margin: 0 auto;
}

.title,
.desc,
.mark {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.desc {
  font-size: 20px;
  margin-bottom: 35px;
  color: #95969F;
}
.mark {
  font-size: 20px;
  margin-top: 25px;
  color: #95969F;
  .herf{
    color: #1890ff;
  }
}
